<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="index.html">Home</a>
							<span>Create Movie</span>
						</div>

						<div class="content">
							<div class="row">
								<div class="col-md-4">
									<div class="contact-form">
										<input ng-model="movieName" type="text" class="name" placeholder="name...">
										<input ng-model="movieCast" type="text" class="email" placeholder="Movie Cast...">
										<input ng-model="movieImageUrl" type="text" class="website" placeholder="Image Url...">
										<button class="view-reviews" ng-click="create()">Create Movie</button>

									</div>
								</div>
								<div class="col-md-7 col-md-offset-1">
									<div class="map"></div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- .container -->
			</main>