<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="row">
							<div class="col-md-9">
								<div class="slider">
									<ul class="slides">
										<li ng-repeat="movie in movies"><img class="home-image" height="50" width="50" src="{{movie.movieImage}}" alt="{{movie.movieName}}">
                                          <button class="view-reviews" ng-click="onClick(movie)">View Reviews</button>
										</li>
									</ul>
								</div>
							</div>
							</div>
						</div> -->
					</div>
				</div> <!-- .container -->
			</main>